out
workspace.xml

.gradle
build
local.properties
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/libraries/KotlinJavaRuntime.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/kotlin-koans.iml
.idea/runConfigurations.xml
.idea/runConfigurations/Html_Demo.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
.idea/kotlinc.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/modules/kotlin-koans_main.iml
.idea/modules/kotlin-koans_test.iml
kotlin-koans.iml
.idea/modules/kotlin-koans.iml
